	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    body h1{
            font-weight: 600;
            background: #113881;
            color: white;
            text-align: center;
        }
       .container table {
            border : 0.5px solid #949090;
            box-shadow: 0 5px 10px black;
        }
       .container table row{
            width : auto;
        }
       .container table tr th{
            text-align: center;
        }
       .container table tr td{
            text-align: center;
            padding : 10px;

        }